<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SendSomething</title>
    <link rel = "stylesheet" type = "text/css" href ="style.css">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <script src="https://use.typekit.net/lea6kye.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

</head>
<body>

<div id = "navBar">
    <h2 id = "title">(:SENDSOMETHING</h2>
</div>

<div id = "sectionOne" class = "section">
    <div id = "boxes">
        <div id = "colorPicker">
            <input class = "rangeH" type ="range" id ="fH" min ="0" max ="360" value = "255" step = "1">
            <input class = "rangeL" type ="range" id ="fL" min ="0" max ="100" value = "50" step = "1">
        </div>
        <div id = "fColor" class = "background">
            <h3>FRONT</h3>
        </div>
        <div id = "i1Color" class = "background">
            <h3>INSIDE ONE</h3>
        </div>
        <div id = "i2Color" class = "background">
            <h3>INSIDE TWO</h3>
        </div>
    </div>
    <button id = "continueOne">CONTINUE</button>
</div>
<div id ="sectionTwo" class = "section">
    <canvas class = "cardSide" id = "canvasF" width = "440" height = "616"></canvas>
    <canvas class = "cardSide" id = "canvasI1" width = "440" height = "616"></canvas>
    <canvas class = "cardSide" id = "canvasI2" width = "440" height = "616"></canvas>

    <div id = "tools">
        <div id = "whichSide">
            <img id = "fButton" class = "cardButton" src = "logoF.png">
            <img id = "i1Button" class = "cardButton" src = "logoI1.png">
            <img id = "i2Button" class = "cardButton" src = "logoI2.png">
        </div>
        <div id = "brushColor" class = "colorPicker">
            <div id = "brushBox">
                <div id = "brush"></div>
            </div>
            <input class = "rangeH" type ="range" id ="brushH" min ="0" max ="360" value = "60" step = "1">
            <input class = "rangeL" type ="range" id ="brushL" min ="0" max ="100" value = "50" step = "1">
            <input class = "rangeW" type ="range" id ="brushW" min ="5" max ="100" value = "20" step = "1">
        </div>
        <input id = "typeLink" type = "text" placeholder = "The Link I am Sharing">
        <form method = "post" action = "/redirect/">
            <button id ="done">MAKE CARD</button>
        </form>
    </div>

</div>

<div id ="sectionThree" class = "section">
    <img id = "placeSticker1" class = "section4" src ="">
    <img id = "placeSticker2" class = "section4" src ="">
    <img id = "placeSticker3" class = "section4" src ="">
    <canvas id = "stickerPlacement" width></canvas>
</div>
<script src = "jquery.js"></script>
<script src = "maker.js"></script>
<script src = "drawing.js"></script>
</body>
</html>